imgs-slide {
  .teste {
    background: rgb(92, 70, 70);
    width: 60px;
    height: 130px;
    margin: 0 10px 0 0;
    border-radius: 10px;
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);
  }
  .teste2 {
    width: 520px;
    height: 160px;
    //border: 1px solid red;
    display: flex;
  }
}
